body {
  background: #e8e8e8 !important;
  font-family: "Kanit";
}

.row {
  --bs-gutter-x: 10rem;
  margin-top: 7em;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1.25rem;
}

.text-1 {
  color: #000000;
  text-align: center;

}

h1 {
  color: #fff;
  padding-bottom: 2rem;
  font-weight: bold;
}

a {
  color: #333;
}

a:hover {
  color: #E8D426;
  text-decoration: none;
}

.form-control:focus {
  color: #000;
  background-color: #fff;
  border: 2px solid #E8D426;
  outline: 0;
  box-shadow: none;
  font-family: "TH SarabunPSK";
  font-weight: bold;
  line-height: 1.5;
  font-size: 20px;
}

.btn {
  background: #26e829;
  border: #e89126;
  display: block;
  width: 100%;
}

.btn:hover {
  background: #E8D426;
  border: #E8D426;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #7892b5;
}

.item {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 20px;
  background-color: transparent;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: #8cb9c0;
}

.circle {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1.5em;
}

.center1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 20px;
}

.tr {
  height: 80px;
}

.td1 {
  width: 1080px;
}

.td2 {
  font-size: 30px;
  text-align: center;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.span1 {
  font-size: 30px;
  padding-left: 10px;
  color: white;
}

.a1 {
  color: white;
  text-decoration: none;
}

.tr1 {
  height: 150px;
}

.td3 {
  text-align: center;
}

.banner {
  width: 1200px;
  height: 30em
}

.td4 {
  width: 400px;
  text-align: center;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.img1 {
  width: 200px;
  height: 200px;
}



.p1 {
  color: white;
  text-decoration: none;
  padding-top: 20px;
}

.footer1 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 20px;
  background-color: #BEBEBE;
}

.tr1 {
  height: 250px;
}

.td5 {
  width: 50px;
  text-align: center;
}

.img2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.td6 {
  width: 100px;
  text-align: center;
}

.a2 {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.h3 {
  margin-bottom: 1.5em;
}

.img3 {
  width: 50px;
  height: 20px;
}

.img4 {
  width: 50px;
  height: 30px;
}

.td7 {
  width: 150px;
}

.footer2 {
  padding-left: 3em;
}

.contact {
  text-align: center;
}

.img5 {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}