body {
    background: #e8e8e8 !important;
    font-family: "Kanit";
    font-size: 14px;
  }

  .h3{
    padding-bottom: 15px;
    margin-top: 1.2em;
  }

  .text-space2 {
    border-radius: 8px;
    padding-top: 5px;
    margin-top: 10px;
    border: none;
    padding-bottom: 5px;
    height: 1.6em;
    width: 14.5em;
    background-color: #e8e8e8;
    font-family: "TH SarabunPSK";
    font-size: 20px;
    font-weight: bold;
  }

  .modal-coming2 {
    border-radius: 50px;
    background-color: #ffb700 ;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 1em;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .modal-coming2:hover {
    background-color: #ff7b00;
    color: white;
    text-decoration: none;
  }

  .modal-book {
    border-radius: 50px;
    background-color: #40c426 ;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 1em;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .modal-book:hover {
    background-color: #3aaf23;
    color: white;
    text-decoration: none;
  }

  .modal-nobook {
    border-radius: 50px;
    background-color: red;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 1em;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .modal-nobook:hover {
    background-color: #dc1313 ;
    color: white;
    text-decoration: none;
  }

  .modal-back2 {
    border-radius: 50px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: #006eff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .modal-back2:hover {
    background-color: #005cd5;
    color: white;
    text-decoration: none;
  }

  .img{
    text-align: end;
    border-radius: 0.5rem;
  }

  /*insert*/
  body {
    background: #e8e8e8 !important;
    font-family: "Kanit";
    font-size: 14px;
  }
  
  
.chackbok {
  line-height: 1.5rem;
  margin-right: 10px;
}

.modal-xl {
  --bs-modal-width: 1350px;
}

.text-space5 {
  background-color: #e8e8e8;
  border-radius: 8px;
  font-family: "TH SarabunPSK";
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  /* กำหนดพื้นที่รอบข้อความภายใน input เป็น 5px */
  width: 100%;
  /* กำหนดความกว้างของ input */
  height: 32px;
  /* กำหนดความสูงของ input */
}

.text-space6 {
  background-color: #e8e8e8;
  border-radius: 8px;
  font-family: "TH SarabunPSK";
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  /* กำหนดพื้นที่รอบข้อความภายใน input เป็น 5px */
  width: 100%;
  /* กำหนดความกว้างของ input */
  height: 32px;
  /* กำหนดความสูงของ input */
}

.text-area {
  background-color: #e8e8e8;
  border-radius: 8px;
  font-family: "TH SarabunPSK";
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  /* กำหนดพื้นที่รอบข้อความภายใน input เป็น 5px */
  width: 100%;
  /* กำหนดความกว้างของ input */
  height: 70px;
  /* กำหนดความสูงของ input */
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.text-space5-date {
  background-color: #e8e8e8;
  border-radius: 8px;
  font-family: "TH SarabunPSK";
  font-size: 20px;
  font-weight: bold;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  /* กำหนดพื้นที่รอบข้อความภายใน input เป็น 5px */
  width: 65%;
  /* กำหนดความกว้างของ input */
  height: 32px;
  /* กำหนดความสูงของ input */
}


/*ใช้ร่วมกับ edit*/
.modal-coming {
  border-radius: 50px;
  background-color: #40c426;
  color: white;
  font-size: 16px;
  border: none;
  margin-top: 1em;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.modal-coming:hover {
  background-color: #3aaf23;
  color: white;
  text-decoration: none;
}

.modal-back {
  border-radius: 50px;
  color: white;
  font-size: 16px;
  border: none;
  background-color: #006eff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.modal-back:hover {
  background-color: #005cd5;
  color: white;
  text-decoration: none;
}

.btn-select {
  border-radius: 15px;
  background-color: #7a45be;
  color: white;
  font-size: 10px;
  border: none;
  box-shadow: 4px 4px 8px 0px #adadad;
  padding: 0.5rem 1rem;
}

.img {
  text-align: end;
  border-radius: 0.5rem;
}