
.h3 {
  padding-bottom: 15px;
  margin-top: 1.2em;
}

.THSarabun {
  font-family: 'TH SarabunPSK', sans-serif !important;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
}

.kanit{
  font-size: 1rem;
  text-align: right;
  color: #000080;
}

.img {
  border-radius: 0.5em;
}

.accordion-button{
  background-color: #ffffff;
  color: #000080;
}

.accordion-button:not(.collapsed){
  color: #ffffff;
  background-color: #000080;
}

.accordion-button:focus{
  box-shadow: none;
}