body {
    background: #e8e8e8 !important;
    font-family: "Kanit";
    font-size: 14px;
  }

  .h3{
    padding-bottom: 15px;
    margin-top: 1.2em;
  }
  
  .header {
    text-align: center;
  }

  .col{
    text-align: end;
  }
  
  .container {
    max-width: 1440px;
  }

  .space{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1rem;
  }

  .space-file{
    margin-right: 10px;
    margin-top: 1rem;
  }

  .text-space {
    border-radius: 8px;
    padding-top: 5px;
    margin-top: 10px;
    border: none;
    padding-bottom: 5px;
    height: 1.5em;
    background-color: #e8e8e8;
    font-family: "TH SarabunPSK";
    font-size: 20px;
    font-weight: bold;
  }

  /*ใช้ร่วมกับ edit*/
  .modal-coming {
    border-radius: 50px;
    background-color: #40c426 ;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 1em;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .modal-coming:hover {
    background-color: #3aaf23;
    color: white;
    text-decoration: none;
  }

  .modal-back {
    border-radius: 50px;
    color: white;
    font-size: 16px;
    border: none;
    background-color: #006eff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .modal-back:hover {
    background-color: #005cd5;
    color: white;
    text-decoration: none;
  }
